body
{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#container h1{
    color: blue;
    font-size: 30px;
}